body {
    margin: 0px; 
    background-color: #6332637f;
    font-family: sans-serif;
}
.main-nav {
    background-color: #1e2125;
    color: white;
    height: 50px;
    display: flex;
}
.container {
    max-width: 1000px;
    margin: auto;
}
.main-nav .container {
    width: 100%;
}
.main-nav .links { 
    float: right;
}
.main-nav .links a { 
    color: white;
    text-decoration: none;
    margin-left: 50px;
}
.main-nav .links #userLogged{
    font-weight: bold;
}